.banner-img {
  background-image: url(../../../public/images/Hero.jpg);
  
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner_content h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: 'DM Serif Display', serif;
  line-height: 2rem;
  color: black;


}

.banner_content p {
  font-size: 16px;
  width: 50%;
  margin-bottom: 30px;
}

.banner_content a {
  padding: 14px 50px;
  border: none;
  background-color: #4b1eed;
  color: white;
  font-weight: 700;
  border-radius: 10px;

}

/* Home Banner */
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: #4b1eed;
  font-weight: bold;
}

.home-page button {
  border-radius: 0;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .btn-info{
  background-color: #4b1eed;
  color: white;
}
.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}

.All_Products {
  margin-top: 100px;
  font-family: 'DM Serif Display', serif;
  text-align: center;
}

/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}

.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: #4b1eed;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 50px;
}
.filters button :hover{
  background-color: rgba(0, 0, 0, 0.605) !important;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}